/* main grid element */
.stork-grid {
	position: relative;
	overflow: hidden;
	border: 1px solid black;

	/* all tables */
	table {
		border-collapse: collapse;
		table-layout: fixed;

		&.fixed.covering {
			box-shadow: 2px 0 6px rgba(0,0,0,0.3);
		}

		th, td {
			border-spacing: 0;
			border-collapse: collapse;
		}
	}
	/* /all tables */

	/* header table */
	div.header {
		position: relative;
		width: 100%;
		overflow: hidden;
		background-color: #b6d0dd;

		> table {
			position: absolute;
			top: 0;
			left: 0;
			cursor: pointer;

			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none;   /* Chrome/Safari/Opera */
			-moz-user-select: none;      /* Firefox */
			-ms-user-select: none;       /* Internet Explorer/Edge */
			user-select: none;

			tr {
				background-color: #b6d0dd;

				th {
					border-right: 1px solid #a0a0a0;
					border-collapse: collapse;
					padding: 4px;
					overflow: hidden;
					text-overflow: ellipsis;

					&.ascending::after {
						content: " ↓";
					}
					&.descending::after {
						content: " ↑";
					}
				}
			}

			&.fixed {
				z-index: 2;
			}
			&.loose {
				z-index: 1;
				tr th:last-child {
					border-right-width: 0;
				}
			}

			&.column-resizers {
				td {
					position: relative;

					> a {
						position: absolute;
						top: 0;
						width: 4px;
						z-index: 3;
						cursor: col-resize;

						&.dragging {
							background-color: #a0a0a0;
							border: 1px dotted #b6d0dd;
							border-top-width: 0;
							border-bottom-width: 0;
						}
					}
				}
			}
		}
	}
	/* /header table */

	/* data wrapper */
	div.data-wrapper {
		width: 100%;
		overflow: auto;

		/* data */
		> div.data {
			overflow: hidden;
			position: relative;

			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none;   /* Chrome/Safari/Opera */
			-moz-user-select: none;      /* Firefox */
			-ms-user-select: none;       /* Internet Explorer/Edge */
			user-select: none;
			cursor: default;

			table {
				position: absolute;
				left: 0;

				tbody > tr {
					&:nth-child(odd) {
						background-color: #e9e9e9;
					}
					&:nth-child(even) {
						background-color: #d0d0d0;
					}
					&.selected {
						background-color: #a3bbc6;
					}

					> td {
						border-right: 1px solid #a0a0a0;
						border-collapse: collapse;
						padding: 4px;
						overflow: hidden;
						text-overflow: ellipsis;

						&.selected {
							background-color: rgba(0,0,0,0.2);
						}
					}
				}

				&.fixed {
					z-index: 2;
				}
				&.loose {
					z-index: 1;
					tbody > tr > td:last-child {
						border-right-width: 0;
					}
				}
			}
		}
		/* /data */
	}
	/* /data wrapper */
}