/* main grid element */
.stork-grid {
	position: relative;
	overflow: hidden;
	border: 1px solid black;

	/* all tables */
	table {
		border-collapse: collapse;
		width: 100%;
		table-layout: fixed;

		th, td {
			border-spacing: 0;
			border-collapse: collapse;
		}
	}
	/* /all tables */

	/* header table */
	table.header {
		width: 100%;

		tr {
			background-color: #b6d0dd;

			th {
				border-left: 1px solid #a0a0a0;
				border-collapse: collapse;
				padding: 4px;

				&:first-child {
					border-left-width: 0;
				}

				&.scrollbar-offset {
					border-left-width: 0;
					padding: 0;
					width: 15px;
				}
			}
		}
	}
	/* /header table */

	/* data wrapper */
	div.data-wrapper {
		width: 100%;
		overflow: auto;

		/* data */
		> div.data {
			width: 100%;
			overflow: hidden;
			position: relative;

			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none;   /* Chrome/Safari/Opera */
			-khtml-user-select: none;    /* Konqueror */
			-moz-user-select: none;      /* Firefox */
			-ms-user-select: none;       /* Internet Explorer/Edge */
			user-select: none;

			table {
				position: absolute;
				left: 0;

				tbody > tr {
					&:nth-child(odd) {
						background-color: rgba(0,0,0,0.1);
					}
					&:nth-child(even) {
						background-color: rgba(0,0,0,0.2);
					}
					&.selected {
						background-color: #a3bbc6;
					}

					> td {
						border-left: 1px solid #a0a0a0;
						border-collapse: collapse;
						padding: 4px;

						&:first-child { border-left-width: 0; }

						&.selected {
							background-color: rgba(0,0,0,0.2);
						}
					}
				}
			}
		}
		/* /data */
	}
	/* /data wrapper */
}