* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#parentDiv {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#grid {
	width: 99%;
	max-width: 1220px;
	height: 870px;
}

.opButtons {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	
	width: 640px;
	padding-bottom: 10px;
}

span.color1, span.color2, span.color3, span.color4, span.color5, span.color6 { font-weight: bold; }
span.color1 { color: #00aa00; }
span.color2 { color: #aa0000; }
span.color3 { color: #0000aa; }
span.color4 { color: #aaaa00; }
span.color5 { color: #00aaaa; }
span.color6 { color: #aa00aa; }