/* main grid element */
.stork-grid {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;

	&:focus {
		outline: 0 none;
	}

	&.resizing-column, &.resizing-column * {
		cursor: col-resize;
	}

	* {
		box-sizing: border-box;
	}

	/* all tables */
	table {
		border-collapse: separate;
		border-spacing: 0;
		table-layout: fixed;

		th, td {
			border-spacing: 0;
			border-collapse: collapse;
			padding: 0;
		}
		td > div {
			overflow: hidden;
		}
	}
	/* /all tables */

	/* header table */
	div.header-wrapper {
		position: relative;
		width: 100%;
		overflow: hidden;

		div.header {
			position: relative;
			width: 100%;
			height: 100%;
			overflow-x: hidden;
			overflow-y: scroll;

			> table {
				position: absolute;
				top: 0;
				left: 0;

				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none;   /* Chrome/Safari/Opera */
				-moz-user-select: none;      /* Firefox */
				-ms-user-select: none;       /* Internet Explorer/Edge */
				user-select: none;

				&.columns {
					tr {
						th {
							border-collapse: collapse;
							overflow: hidden;
						}
					}

					&.fixed {
						z-index: 3;
					}
					&.loose {
						z-index: 1;
						position: relative; /*very important - this lets the parent assume height*/
					}
				}

				&.resizers {
					pointer-events: none;

					&.fixed {
						z-index: 4;
					}
					&.loose {
						z-index: 2;
					}

					td {
						position: relative;

						> a {
							pointer-events: auto;
							position: absolute;
							top: 0;
							right: -3px;
							width: 7px;
							background-color: transparent;
							cursor: col-resize;
						}
					}
				}
			}
		}

		div.scrollbar-concealer {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			height: 100%;
		}
	}
	/* /header table */

	/* data wrapper */
	div.data-wrapper {
		width: 100%;
		overflow: scroll;
		/*transform: translateZ(0);*//*translateZ hack*/

		/* data */
		> div.data {
			overflow: hidden;
			position: relative;

			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none;   /* Chrome/Safari/Opera */
			-moz-user-select: none;      /* Firefox */
			-ms-user-select: none;       /* Internet Explorer/Edge */
			user-select: none;

			table {
				position: absolute;
				top: 0;
				left: 0;

				tbody > tr > td {
					border-collapse: collapse;
					overflow: hidden;
				}

				&.fixed {
					z-index: 2;
				}
				&.loose {
					z-index: 1;
				}
			}
		}
		/* /data */
	}
	/* /data wrapper */

	/* resizer vertical line */
	.resizer-line {
		display: none;
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 1px;
	}
	/* /resizer vertical line */
}